<%= form_for(@profile) do |f| %>

  <% if @profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited
      this Profile from being saved:</h2>
    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

	<p>
    <%= f.label :Profile_Name %><br>
    <%= f.text_field :profile_name %>
  </p>

  <p>
    <%= f.label :Background %><br>
    <%= f.text_area :about %>
  </p>
 
  <p>
    <%= f.label :interest_list %><br>
    <%= f.text_area :interest_list %>
  </p>

  <p>
    <%= f.label :skill_list %><br>
    <%= f.text_area :skill_list %>
  </p>
 
  <div class="form-actions">
  <p>
    <%= f.button :Submit, :class => 'btn btn-large btn-primary' %>
  </p>
  </div>
<% end %>