
<div class="profile-present">
	<div id="profile-profile_name">
		<h1>
		  <p>
			  <%= @profile.profile_name %></span>
			</p>
		</h1>
	</div><hr/>
		
	<strong>About</strong>
	<p>
	  <%= @profile.about %>
	</p>

	<strong>Interests</strong>
	<p>
	  <%= raw @profile.interest_list.map { |t| link_to t, interest_path(t) }.join(', ') %>
	</p>

	<strong>Skills</strong>
	<p>
	  <%= raw @profile.skill_list.map { |t| link_to t, skill_path(t) }.join(', ') %>
	</p>



<%= link_to 'Edit Profile', edit_profile_path(@profile) %> |
<%= link_to 'Back to Profiles', profiles_path %>




<hr />
