<div>
  <% case current_user.attend_to?(@event) %>
  <% when true %>
    <% if @event.rsvp_active? %>
      You are going. <%= link_to "Edit", attend_event_path(@event, miss: true), remote: true, method: :post %>
    <% else %>
      You went.
    <% end %>
  <% when false %>
    Unavailable. <%= link_to "Edit", attend_event_path(@event), remote: true, method: :post if @event.rsvp_active? %>
  <% else %>
    <% if @event.rsvp_active? %>
      <p>Are you going?</p>
      <div>
        <%= link_to "Yes", attend_event_path(@event), class: "btn btn-large btn-primary", remote: true, method: :post %>
        <%= link_to "No", attend_event_path(@event, miss: true), class: "btn btn-large btn-link", remote: true, method: :post %>
      </div>
    <% end %>
  <% end if user_signed_in? %>

  <hr/>

  <p><%= @event.guests.size %> <%= @event.rsvp_active? ? "Attending" : "Attended" %></p>

  <hr/>

  <ul class="list-unstyled">
    <% @event.guests.each do |user| %>
      <li><%= user.full_name %></li>
    <% end %>
  </ul>
</div>
