<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Static Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="app/assets/stylesheets/navbar-static-top.css" rel="stylesheet">
    <link href="app/assets/stylesheets/my-styles.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
  </head>

  <div id="margin-top">
  </div>

  <body>

    <div class="container">
      <div class="row jumbotron">
        <!-- Main component for a primary marketing message or call to action -->
        
          <div class="col-sm-7">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="bootstrap/components/#navbar" role="button">View navbar docs &raquo;</a>
            </p>
          </div>

          <div class="col-sm-1">
          </div>

          
            <%= form_for User.new, url: user_registration_path, html: { class: "form-signin col-sm-4 well", role: "form" } do |f| %>
              <h2 class="form-signin-heading">Sign Up</h2><hr>

                <div class="row">
                  <div class="col-xs-6 column-first-name">
                    <div class="form-group">
                      <label class="sr-only" for="#">First name</label>
                      <%= f.text_field :first_name, class: "form-control", id: "#", placeholder: "First name", required: true %>
                    </div>
                  </div>

                  <div class="col-xs-6 column-last-name">
                    <div class="form-group">
                      <label class="sr-only" for="#">Last name</label>
                      <%= f.text_field :last_name, class: "form-control", id: "#", placeholder: "Last name", required: true %>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.email_field :email, class: "form-control", id: "#", placeholder: "Email address", required: true %>
                </div>

                <div class="form-group">
                  <%= f.email_field :email_confirmation, class: "form-control", id: "#", placeholder: "Type email again", required: true %>
                </div>

                <div class="form-group">
                  <%= f.text_field :profile_name, class: "form-control", id: "#", placeholder: "Profile Name (not required)", required: false %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, class: "form-control", id: "#", placeholder: "Password", required: true %>
                </div>

               <div class="form-group">
                  <div class="">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :remember_me %> Remember me
                      </label>
                    </div>
                  </div>
                </div>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            <% end %>
          
          
        </div>
      
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>