<h2>Sign In</h2><hr/>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<p><%= f.input :email %></p>
<p><%= f.input :password %></p>

<p><% if devise_mapping.rememberable? %>

	<%= check_box_tag(:remember_me) %>
  Remember Me <!--Obviously getting rid of the f.label, because it was bold. Horrible?-->
<% end %>
</p>

<p>
	<%= f.button :submit, "Sign in", :class => 'btn btn-large btn-primary' %>
</p>
<% end %>

<%= render "devise/shared/links" %>
</div>