<!DOCTYPE html>
<html>
<head>
  <title>Network</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>

<body>
<!-- Static navbar -->
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#">Home</a></li>-->
          

          <!--also for planning to make events,or groups. its discussing and finding peeople to start groups with ooh i like. --><!--This is not groups. Change later. --><!-- Syn - team up, projects, pitch, collaborate, find a partner(sounds date-y.) vs events or groups, it is for focused projects and building things. so you could build a group or event, but it is not if you already have the infra. -->
          <!--<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li class="divider"></li>
<li class="dropdown-header">Nav header</li>
<li><a href="#">Separated link</a></li>
<li><a href="#">One more separated link</a></li>
</ul>
</li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!--<li><a href="../navbar/">Default</a></li>
<li class="active"><a href="./">Static top</a></li>-->
          
          <% if user_signed_in? %>
            
            <li><%= link_to current_user.full_name, edit_user_registration_path %></li><li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li><!-- THIS CHANGES THE METHOD FROM 'GET' TO DELETE, SO WE DON'T GET AN ERROR-->
          <% else %>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'navbar-form navbar-right' }) do |f| %>
              <%= f.text_field :email, :placeholder => 'Email address', :class => "form-control" %>

              <%= f.password_field :password, :placeholder => 'Password', :class => "form-control" %>

              <%= f.submit 'Sign In', :class => 'btn btn-default' %>

              <div class="txt-right">
                
                
                <%= check_box_tag(:remember_me) %>
  Remember Me <!--Obviously getting rid of the f.label, because it was bold. Horrible?-->

                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <%= link_to "Forgot your password?", new_password_path(resource_name) %>

                &nbsp&nbsp&nbsp&nbsp&nbsp
                <%= link_to "Sign Up", new_registration_path(resource_name) %>
              </div>

            <% end %>
          <% end %>
          
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button class="close" data-dismiss="alert">x</button>
        <%= message %>
      </div>
    <% end %>
    
<%= yield %>
</div>

</body>
</html>